<p id="notice">
		<%= notice %>
</p>
<p>
		<strong>Title:</strong>
		<%= @video.title %>
</p>
<p>
		<strong>Author:</strong>
		<%= @video.author %>
</p>
<p>
		<strong>Video:</strong>
		<% if @video_exists%>
		<iframe src='https://www.youtube.com/embed/<%= @youtube_id %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
		<% else %>
		<div>No Video</div>
		<% end %>
</p>
<p>
		<strong>Caption:</strong>
		<%= @video.caption %>
</p>
<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>