<!DOCTYPE html>
<html>

<head>
		<title>WDInstagramRails</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
</head>

<body>
		<div class="header">
				<p class="header__text">WDInstagram</p>
		</div>
		<%= render partial: "layouts/navbar", locals: {links: @links} %>
		<%= yield %>
</body>

</html>